infra/modules/s3_trigger_lambda/step_function.json
{
  "Comment": "Process S3 upload with retries",
  "StartAt": "ProcessS3Upload",
  "States": {
    "ProcessS3Upload": {
      "Type": "Task",
      "Resource": "${lambda_arn}",
      "ResultPath": "$.lambdaResult",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError"
        }
      ],
      "Next": "CheckStatus"
    },
    "CheckStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.lambdaResult.statusCode",
          "NumericEquals": 500,
          "Next": "HandleError"
        },
        {
          "Variable": "$.lambdaResult.statusCode",
          "NumericEquals": 400,
          "Next": "HandleError"
        }
      ],
      "Default": "Success"
    },
    "HandleError": {
      "Type": "Fail",
      "Error": "LambdaExecutionFailed",
      "Cause": "Lambda returned error status code"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
